.emoji-card {
  list-style-type: none;
  width: 20%;
  margin-right: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  border-radius: 5px;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 767px) {
  .emoji-card {
    width: 30%;
    margin-right: 7px;
    margin-bottom: 15px;
  }
}
